---
import EconLayout from '../layouts/EconLayout.astro';
import Body from '../components/Body.astro';
import Description from '../components/Description.astro';
import Title from '../components/Title.astro';
import Term from '../components/Term.astro';
---

<EconLayout>
	<Body>
<Title>
			Externalities and Government regulation
		</Title>
<Description>
When considering the economics of sports betting, it is important to note the <Term>externalities,</Term>the impact of the market on outside parties. One of the reasons why the government decided to deregulate online gambling was because of the tax revenue they could generate. Notably, companies like draft kings became significantly larger after the legislation passed in 2018. However, although sports betting has been legalized at the federal level, <Term>barriers to entry</Term>like required licenses still exist to prevent firms from being able to enter the market. These licenses cost tens of thousands of dollars, and add to the fixed startup costs of entering into the online sportsbook industry. In 2024 alone, $2.8 billion was collected as tax revenue across the US, up from $2.1 billion in 2023. However, one must also consider the social costs of deregulating. 
</Description>
<Description>
While deregulation of gambling may have yielded significant tax revenue, it also has notable social costs. After the regulation, domestic abuse has been shown to increase 6-7% when home NFL teams suffer an upset loss and credit scores have overall decreased by .3%.
</Description>
</Body>
</EconLayout>
