---
import EconLayout from '../layouts/EconLayout.astro';

---

<EconLayout>
	<div class="bod">
		<h1>
			An overview of the online sports betting landscape
		</h1>
		<p class="description">The online sports betting market in the United States has undergone a transformative period since the landmark 2018 Supreme Court ruling, emerging as a substantial economic force. This industry is fundamentally characterized by an oligopolistic structure, where a select few major players exert considerable influence over market dynamics.

			From an economic standpoint, the sector serves as a significant generator of tax revenue for both federal and state governments, contributing hundreds of millions of dollars annually to public treasuries. This robust revenue stream has been a primary catalyst for the widespread deregulation and ongoing state-level legalization efforts across the nation.

			Within this competitive environment, dominant firms, notably DraftKings and FanDuel, engage in aggressive non-price competition. Their strategies heavily rely on extensive marketing and advertising expenditures, which are crucial for customer acquisition and retention. This high level of investment is a defining feature of their operational models.

			However, the rapid expansion of online sports betting is not without its complexities. Alongside its economic contributions, the industry presents notable societal challenges. These include a documented link to increased intimate partner violence, a measurable deterioration of consumer credit scores, and an observed rise in personal debt among some segments of the population.

			This report delves into the intricate dual nature of the online sports betting industry. It functions as both a powerful economic engine and a source of considerable social externalities. A comprehensive understanding of these intertwined benefits and costs is essential for policymakers, industry stakeholders, and consumers alike, enabling a more balanced and informed perspective on this burgeoning market.</p>


	</div>
</EconLayout>
<style>
.description{
text-align:center;
font-size:20px;
}
.bod{
width: 80%;
position:relative;
left:10%;
}
</style>
