
---
import EconLayout from '../layouts/EconLayout.astro';
import Citation from '../components/Citation.astro';
import Body from '../components/Body.astro';
---

<EconLayout>
	<Body>
<Citation>Hale, Rachel. 2025. “Inside the High-Stakes, High-Risk World of Sports Betting and How It’s Gripping Young Men.” USA TODAY. May 13, 2025. https://www.usatoday.com/story/life/health-wellness/2025/05/13/sports-betting-college-kids-teens-health/83391628007/.</Citation>
<Citation>2025. State.or.us. 2025. https://secure.sos.state.or.us/oard/displayDivisionRules.action?selectedDivision=6940.</Citation>
<Citation>“Quarterly Results | DraftKings Inc.” n.d. Draftkings.gcs-Web.com. https://draftkings.gcs-web.com/financials/quarterly-results.</Citation>
<Citation>“DraftKings Reports First Quarter Revenue of $1,409 Million | DraftKings Inc.” 2025. DraftKings Inc. 2025. https://draftkings.gcs-web.com/news-releases/news-release-details/draftkings-reports-first-quarter-revenue-1409-million.</Citation>
<Citation>Freedman, Robert. 2024. “FanDuel, DraftKings Inquiry Could Shape Antitrust Enforcement in Digital Markets.” Legal Dive. December 19, 2024. https://www.legaldive.com/news/fanduel-draftkings-inquiry-antitrust-enforcement-digital-markets-balto-ftc-doj/736028/.</Citation>
<Citation>Dakota, Ana Maria. 2022. “Is Horse Racing Still Considered an Elitist Sport?” Upscale Living Mag. November 22, 2022. https://www.upscalelivingmag.com/luxury-lifestyle-of-the-elite/is-horse-racing-still-considered-an-elitist-sport/.</Citation>
<Citation>Webber, Matt. 2024. “Sportsbook Definition.” Investopedia. October 29, 2024. https://www.investopedia.com/sportsbook-5217715.</Citation>
<Citation>Roth, Melinda. 2025. “Don’t Bet on It: Sports Betting and Consequential Detrimental Impact.” https://doi.org/10.2139/ssrn.5123102.</Citation>
<Citation>Leonardi, Louis. 2022. “The Economic Ramifications of Online Sports Gambling in the U.S. – Michigan Journal of Economics.” Michigan Journal of Economics. December 4, 2022. https://sites.lsa.umich.edu/mje/2022/12/04/why-online-sports-betting-should-be-allowed-in-every-u-s-state/.</Citation>
<Citation>Higgs, Milly. 2025. “Exorbitant Sports Betting Taxes Could Kill the Legal Market.” Tax Foundation. May 15, 2025. https://taxfoundation.org/blog/federal-sports-betting-tax/.</Citation>
<Citation>“Gaming License - How to Get a Gambling License in 2025.” 2025. Gofaizen & Sherle. February 11, 2025. https://gofaizen-sherle.com/gambling-license.</Citation>
<Citation>OR Legislature. 2025. “ORS 461.100 – Oregon State Lottery Commission; Members; Duties; Meetings.” OregonLaws. 2025. https://oregon.public.law/statutes/ors_461.100.</Citation>
<Citation>Sports, Fantasy. 2022. “Fantasy Sports Legislation Tracker | Dallas & Austin Business Lawyers | Vela Wood.” Dallas & Austin Business Lawyers | Vela Wood | vw Is a Boutique Full Service Law Firm in Dallas and Austin That Focuses Our Practice in the Areas of M&A, Private Equity, Fund Representation, and Venture Transactions. September 27, 2022. https://velawood.com/tracker/fantasy-sports-legislation-tracker/.</Citation>
<Citation>Killick, Elizabeth A., and Mark D. Griffiths. 2022. “Sports Betting Advertising: A Systematic Review of Content Analysis Studies.” International Journal of Mental Health and Addiction 21 (5). https://doi.org/10.1007/s11469-022-00775-4.</Citation>
<Citation>Andersson, H, and Kristin Bengtsson. n.d. “Gambling, What Good Is That? Understanding Gambling through the Lens of Income Elasticity.” Accessed June 2, 2025. https://gupea.ub.gu.se/bitstream/handle/2077/85058/Gambling%20what%20good%20is%20that%20-%20Understanding%20Gambling%20Through%20the%20Lens%20Of%20Income%20Elasticity.pdf?sequence=1.</Citation>
<Citation>Virve Marionneau, A Lahtinen, and Janne Nikkinen. 2023. “Gambling among Indebted Individuals: An Analysis of Bank Transaction Data.” European Journal of Public Health, July. https://doi.org/10.1093/eurpub/ckad117.</Citation>
<Citation>Cameron, Lachlan, Jemimah Ride, and Nancy Devlin. 2022. “An Economic Model of Gambling Behaviour: A Two-Stage Approach.” Journal of Gambling Studies, July. https://doi.org/10.1007/s10899-022-10146-2.</Citation>
<Citation>“DSpace.” 2025. Umass.edu. 2025. https://scholarworks.umass.edu/entities/publication/4b1ff27d-679a-498d-9883-66adeaaa254a.</Citation>
<Citation>Saba, Jennifer. 2025. “Breakingviews - US Sports-Betting Duo’s Growth Wager Is Paying Off.” Reuters, January 23, 2025. https://www.reuters.com/breakingviews/us-sports-betting-duos-growth-wager-is-paying-off-2025-01-23/.</Citation>
<Citation>Miéra, Maxence, Sophie Massin, and Vincent Eroukmanoff. 2023. “The Social Value of Gambling: Surplus Estimates by Gambling Types for France.” The European Journal of Health Economics 24 (9): 1531–43. https://doi.org/10.1007/s10198-022-01560-9.</Citation>
<Citation>“2024: A Year of Growth for Sports Betting Revenue.” CBSSports.com. 2024. https://www.cbssports.com/betting/news/2024-a-year-of-growth-for-sports-betting-revenue/.</Citation>

</Body>
</EconLayout>
